.head{
width:100%;
top:0;
background-color:#990099;
height:40px;
}
.input{
border: 1px solid black;
border-radius: 10px;
}
.span{
margin:8px 10px 0px 0px;
  padding:2px 15px;
  color: white;
  border-radius: 20px;
  float:right;
  }
.submit{
  background-color: #990099;
  color: white;
  border-radius: 2px;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.5);
  padding: 5px 30px;
  font-size: 15px;
  font-family: Arial, sans-serif;
  border:3px solid #990099;
  }
.register{
font-size:30px;
font-weight: 700;
color: #990099;
font-family: Arial, sans-serif;
border-bottom: 3px solid #ff99ff;
}
:root {
    --input-color: black;
    --input-border: #CDD9ED;
    --input-background: #fff;
    --input-placeholder: #CBD1DC;

    --input-border-focus: #275EFE;

    --group-color: var(--input-color);
    --group-border: var(--input-border);
    --group-background: #EEF4FF;

    --group-color-focus: #fff;
    --group-border-focus: var(--input-border-focus);
    --group-background-focus: #990099;  span color

}

.form-field {
    display: block;
    width: 100%;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    border-radius: 6px;
    -webkit-appearance: none;
    color: var(--input-color);
    border: 1px solid var(--input-border);
    background: var(--input-background);
    transition: border .3s ease;
    &::placeholder {
        color: var(--input-placeholder);
    }
    &:focus {
        outline: none;
        border-color: var(--input-border-focus);
    }
}
.form-group {
    margin: 0px 0px 0px 5%;
    position: relative;
    display: flex;
    width: 90%;
    & > span,
    .form-field {
        white-space: nowrap;
        display: block;
        &:not(:first-child):not(:last-child) {
            border-radius: 0;
        }
        &:first-child {
            border-radius: 6px 0 0 6px;
        }
        &:last-child {
            border-radius: 0 6px 6px 0;
        }
        &:not(:first-child) {
            margin-left: -1px;
        }
    }
    .form-field {
        position: relative;
        z-index: 1;
        flex: 1 1 auto;
        width: 1%;
        margin-top: 0;
        margin-bottom: 0;
    }
    & > span {
        text-align: center;
        padding: 8px 12px;
        font-size: 14px;
        line-height: 25px;
        color: var(--group-color);
        background: var(--group-background);
        border: 1px solid var(--group-border);
        transition: background .3s ease, border .3s ease, color .3s ease;
    }
    &:focus-within {
        & > span {
            color: var(--group-color-focus);
            background: var(--group-background-focus);
            border-color: var(--group-border-focus);
        }
    }
}
/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 4px solid #f00;
}
a{
color: #990099;
text-decoration:none;
}
.alert{
background-color: #ffb3b3;
height:30px;
width:90%;
border: none;
border-left:8px solid red;
border-radius: 5px;
color:red;
font-size: 15px;
}